.widget-analytics-breakdown {

	h1 {
    color: #FFF;
  }
 
  .chart_label {
    font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
  }
 
  background-color:#999999;
}