<div class="gridster">
  <ul>
    <li data-row="1" data-col="3" data-sizex="2" data-sizey="1">
    	<div data-id="ga_currentusers" data-view="Graph" data-title="Current Active Users" data-graphtype="area"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
    	<div data-id="ga_devicebreakdown" data-view="AnalyticsBreakdown" data-title="Device"></div>
    </li>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    	<div data-id="twitter_mentions" data-view="Comments"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="1" data-sizey="1">
    	<div data-id="ga_osbreakdown" data-view="AnalyticsBreakdown" data-title="OS"></div>
    </li>
     <li data-row="2" data-col="2" data-sizex="1" data-sizey="1">
    	<div data-id="ga_browserbreakdown" data-view="AnalyticsBreakdown" data-title="Browser"></div>
    </li>
  </ul>
</div>