<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="1" data-sizey="2">
    	<div class="unassigned" data-id="zendesk_unassigned" data-view="Zendesk" data-title="Unassigned Tickets"></div>
    </li>
    <li data-row="1" data-col="2" data-sizex="1" data-sizey="2">
    	<div class="recent" data-id="zendesk_recent_updates" data-view="Zendesk" data-title="Recently Updated Tickets"></div>
    </li>
    <li data-row="1" data-col="3" data-sizex="1" data-sizey="2">
    	<div class="closed" data-id="zendesk_recent_closed" data-view="Zendesk" data-title="Recently Closed Tickets"></div>
    </li>
  </ul>
</div>